<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PARSYS"  connectionString="Data Source=Asghar ; Initial Catalog=parsysdb ; MultipleActiveResultSets=True ; Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>